@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WalMart</h1>
    <img src="~/images/walmart.jpeg" />
    <br/>
    <br/>
    <p class="lead">
        WalMart's stores serve as one-stop destinations for consumers, offering everything from groceries and household
        essentials to electronics, clothing, and automotive supplies. With a commitment to low prices and convenient shopping
        experiences, WalMart has become a household name synonymous with value and variety.
    </p>
</div>